p{
     font-family: monospace;
}
body{
     font-family: 'Lobster', cursive;
}
.color-line{
display: flexbox;
border-left: 7px solid;
border-image-slice: 1;
border-left-color: rgb(170, 13, 65);
}
.fontcolor-classy{
     color: black;
}
.fontcolor-blue{
     color: rgb(170, 13, 65);
   
}
section{
     display: flex;
     
}
.pagesize1{
     font-size: x-large;
     padding-left: 3%;
     width: 45%;
}
.pagesize2{
     width: 100%;
     width: 400px;
     height: 200px;
}
.explore-button{
     text-decoration: none;
     background-color: rgba(243, 39, 80, 0.836);
     color: white;
     background-image: linear-gradient(rgba(180, 28, 58, 0.658),rgba(216, 50, 28, 0.842));
     padding: 1% 1%;
     border-radius: 8%;
     font-family: 'Times New Roman';
}
#background-img{
     background-image: url(images/shapes/shape-2.png);
     background-repeat: no-repeat;
}
.line-2nd{
     padding-block-start: 17%;
     padding-left: 40%;
}
#year-color{
     color: rgb(170, 13, 65);
     ;
}
.showstyle{
     display: flex;
     flex-direction: row;
}
.mission{
     margin-left: 15%;
     width: 12%;
     padding-left: 5%;
     background-color: lightblue;
     padding-right: 60px;
     padding-bottom: 20px;
     border-radius: 10%;     
     
}
.mission-img{
     width: 175px;
     height: 150px;

}
.vission{
     margin-left: 3%;
     width: 12%;
     padding-left: 5%;
     background-color: lightcoral;
     padding-right: 60px;
     padding-bottom: 20px;
     border-radius: 10%;  
}
.vission-img{
     width: 175px;
     height: 150px;  
}
.Goals{
     margin-left: 3%;
     width: 12%;
     padding-left: 5%;
     background-color: rgb(211, 211, 179);
     padding-right: 60px;
     padding-bottom: 20px;
     border-radius: 10%;
}
.goals-img{
     width: 175px;
     height: 150px;  
}
.line3{
     padding-block-start: 5%;}
#tinycode{
     background-image: url(images/shapes/dream-bg.png);
     background-repeat: no-repeat;
     background-position-x: 137px;
     background-position-y: 20px;
     background-size: 90px;
     padding-left: 65% ;
     width: 350px;
     height: 375px;
     border-radius: 10px;
    
     
}
#doc{
     text-decoration: none;
     background-color: rgba(226, 44, 12, 0.836);
     color: white;
     background-image: linear-gradient(rgba(206, 37, 87, 0.884), rgba(231, 112, 15, 0.849));
     padding: 8px 9px;
     border-radius: 8%;
     font-family: 'Times New Roman';
}
.develop1{
     padding-left: 40%;
     width: 35%;
}
.develop-line{
     padding-left: 18%;
     padding-block-start: 110px;
     width: 40%;
}
.page3{
     display: flex;
     flex-direction: row;
}
