p{
     font-family: monospace;
}
body{
     font-family: 'Lobster', cursive;
}
.color-line{
display: flexbox;
border-left: 7px solid;
border-image-slice: 1;
border-left-color: rgb(170, 13, 65);
}
.fontcolor-classy{
     color: black;
}
.fontcolor-blue{
     color: rgb(170, 13, 65);
}
section{
     display: flex;
     
}
.pagesize1{
     font-size: x-large;
     padding-left: 3%;
     width: 45%;
}
.pagesize2{
     width: 100%;
     width: 600px;
     height: 300px;
}
.explore-button{
     text-decoration: none;
     background-color: rgba(243, 39, 80, 0.836);
     color: white;
     background-image: linear-gradient(rgba(180, 28, 58, 0.658),rgba(216, 50, 28, 0.842));
     padding: 1% 1%;
     border-radius: 8%;
     font-family: 'Times New Roman';
}
#background-img{
     background-image: url(images/shapes/shape-2.png);
     background-repeat: no-repeat;
}